.pseudoHeader {
    display: flex;
    justify-content: space-between;
}


.container2 {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-image: url(../img/cartBackgroundMobile.png);
}

.cartBottle {
    width: 40%;
}

.rightColumn {
    padding: 0.8em;
}

h4 {
    text-align: left;
    font-size: 1.5em;
    margin-right: 3em;
    margin-bottom: 0;
}

.normal {
    font-weight: normal;
}

.pack {
    margin-top: .2em;
    text-align: left;
    font-size: 1.25em;
}

.cartAddMinus {
    display: flex;
    justify-content: space-between;
}

.plus-minus {cursor:pointer; }

input{
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
}

.price {
    font-size: 1.78em;
    font-weight: bold;
}

.estiPrice {
    margin-top: -2em;
}

hr.grayBorder {
    border: 1px solid  #434142;
}

.cta2 {
    font-weight: bolder;
    background: #434142;
    width: calc(60% - 1em);
    display: block;
    border-radius: 40px;
    color: white;
    padding: .6em;
    text-decoration: none;
    font-size: 2em;
    margin: 3% auto;
    position: relative;
    z-index: 4;
}

.totalPrice {
    text-align: right;
}


@media only screen and (min-width: 1024px) {
    .logo {
        filter: brightness(0) invert(1);
    }

    .container2 {
        background-image: none;
        background-color: #434142;
    }

    .cartBottle {
        width: 20%;
    }

    h4 {
        color: white;
        font-size: 1.2em;
    }

    .pack {
        font-size: 1em;
    }

    .price {
        font-size: 1.5em;
    }

    p {
        color: white;
    }

    input{
        height: 35px;
        width: 35px;
    }

    hr.grayBorder {
        border: 1px solid  white;
    }

    .leftColumn {
        margin: 0;
        padding:0;
        padding-left: 5em;
        width: 760px;
        background-image: url(../img/cartBackground.jpg);
    }


    .cta2 {
        width: calc(40% - .5em);
        background: white;
        color: #434142;
        bottom: 1em;

    }

    ::-webkit-scrollbar {
        display: none;
        }


}